<ion-view title="Degree" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="startedPage.funds" id="degree-button8" style="color:#FFFFFF;font-size:11px;" class="button button-balanced  button-block">Certification</a>
            <button id="degree-button9" style="font-size:11px;" class="button button-balanced  button-block button-outline">Degree</button>
            <button id="degree-button10" style="font-size:11px;" class="button button-balanced  button-block">Jobs</button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Field of Work</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Degree</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>