<ion-view title="Field of Work" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>Architecture</ion-item>
            <ion-item>Agriculture</ion-item>
            <ion-item>Engineering</ion-item>
            <ion-item>Education</ion-item>
            <ion-item>Creative Arts</ion-item>
            <ion-item ui-sref="startedPage.health">Health</ion-item>
            <ion-item ui-sref="startedPage.health">Law</ion-item>
            <ion-item>Food and Hospitality</ion-item>
            <ion-item>Information Technology</ion-item>
        </ion-list>
    </ion-content>
</ion-view>