<ion-view title="Get Started" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="getStarted-button5" style="font-size:11px;" class="button button-balanced  button-block">Certification</button>
            <button id="getStarted-button6" style="font-size:11px;" class="button button-balanced  button-block">Degree</button>
            <button id="getStarted-button7" style="font-size:11px;" class="button button-balanced  button-block">Jobs</button>
        </div>
        <div style="text-align:center;">
            <img src="img/pmDsaonCQoW6qXCDj3CL_Screen Shot 2016-04-03 at 10.34.54 AM.png" width="100%" height="auto">
        </div>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/p53H9CLCTXWrJRJ2IAff_Screen Shot 2016-04-03 at 10.35.50 AM.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>