<ion-view title="Personal" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="personal3-button17" style="font-size:11px;" class="button button-balanced  button-block">Education</button>
            <button id="personal3-button18" style="font-size:11px;" class="button button-balanced  button-block button-outline">Experience</button>
            <button id="personal3-button19" style="font-size:11px;" class="button button-balanced  button-block">Skills</button>
        </div>
        <ion-list>
            <ion-item ui-sref="startedPage.personal4">
                <img>
                <h2>Company</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>Title</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>Location</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>Start Date</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>End Date</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>