<ion-view title="Personal" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="personal2-button14" style="font-size:11px;" class="button button-balanced  button-block button-outline">Education</button>
            <a ui-sref="startedPage.personal3" id="personal2-button15" style="font-size:11px;" class="button button-balanced  button-block">Experience</a>
            <button id="personal2-button16" style="font-size:11px;" class="button button-balanced  button-block">Skills</button>
        </div>
        <ion-list>
            <ion-item>
                <img>
                <h2>University</h2>
                <p>Damascus University</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>Degree</h2>
                <p>Doctor of Medicine, MD</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>Start Year</h2>
                <p>1974</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>End Year</h2>
                <p>1979</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>