<ion-view title="Personal" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="personal-button11" style="font-size:11px;" class="button button-balanced  button-block button-outline">Education</button>
            <a ui-sref="startedPage.personal3" id="personal-button12" style="font-size:11px;" class="button button-balanced  button-block">Experience</a>
            <button id="personal-button13" style="font-size:11px;" class="button button-balanced  button-block">Skills</button>
        </div>
        <ion-list>
            <ion-item ui-sref="startedPage.personal2">
                <img>
                <h2>University</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>Degree</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>Start Year</h2>
            </ion-item>
            <ion-item>
                <img>
                <h2>End Year</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>