<ion-view title="Personal" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="personal4-button20" style="font-size:11px;" class="button button-balanced  button-block">Education</button>
            <button id="personal4-button21" style="font-size:11px;" class="button button-balanced  button-block button-outline">Experience</button>
            <button id="personal4-button22" style="font-size:11px;" class="button button-balanced  button-block">Jobs</button>
        </div>
        <ion-list>
            <ion-item ui-sref="startedPage.getStarted">
                <img>
                <h2>Company</h2>
                <p>Al Assad University Hospital</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>Title</h2>
                <p>MD, Internal Medicine</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>Location</h2>
                <p>Damascus</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>Start Year</h2>
                <p>1981</p>
            </ion-item>
            <ion-item>
                <img>
                <h2>End Year</h2>
                <p>1989</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>